@import '~antd/dist/antd.css';

body {
  color: #232323;
}

li {
  list-style: none;
  margin-bottom: 20px;
  align-items: center;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1B54A8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #232323;
}